/*
 * print.less
 *
 * Styles für den Drucker.
 */

body {
    font-size: 15px;
    line-height: 20px;
    font-family: 'HelveticaNeueW01-47LtCn 692686', sans-serif;
}

h1, h3, h4 {
    font-weight: normal;
    font-family:'HelveticaNeueW02-57Cn', sans-serif;
    text-transform: uppercase;
}
h2 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

#hd ul,
#ft,
.rb-slide-control,
#supersized-loader,
#supersized {
    display: none;
}