/*
 * buttons.less
 *
 * Inspiriert von: http://www.zurb.com/article/266/super-awesome-buttons-with-css3-and-rgba
 */


.button {
    background: url(/img/hintergrund-button-hover.png);
    opacity: 0.9;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff !important;
    text-decoration: none;
    line-height: 1;
    position: relative;
    cursor: pointer;
    
    .text-shadow ();
    .drop-shadow();
    .rounded();
}

.button:hover {
    text-decoration: none;
    // background: url(/img/hintergrund-button-hover.png);
    opacity: 1;
}

.button:active {
    top: 1px;
}