/*
 * layout.less
 */


#ft {
    width: 100%;
    border-bottom: 1px solid @brown;
    position: fixed;
    bottom: 0px;
    z-index: 10;
    
    .inner {
        width: 940px;
        margin: 0 auto;
        
        img {
            margin-left: 20px;
        }
    }
}