/*
 * header.less
 *
 * Logo und Navigation.
 */


#hd {
    height: 125px;
    padding-top: 55px;
    clear: both;
    
    h1 {
        width: 200px;
        height: 90px;
        margin: 0;
        padding: 0;
        margin-left: 20px;
        background: url(/img/hintergrund-h1.png) no-repeat;
        float: left;
        
        a {
            display: block;
            width: 200px;
            height: 90px;
        }
        
        span {
            display: none;
        }
    }
    
    ul {
        width: 690px;
        height: 35px;
        overflow: hidden;
        padding-left: 20px;
        padding-top: 16px;
        margin: 0;
        float: right;
        list-style-type: none;
        list-style-image: none;
        background: url(/img/hintergrund-navigation.png) no-repeat right top;
        .drop-shadow();
        .rounded();
        
        li {
            float: left;
            padding: 0 20px;
            
            a {
                color: #fff;
                text-transform: uppercase;
                .text-shadow();
            }
            
            &.last-child {
                float: right;
                padding-right: 20px;
            }
        }
    }
    
}