/*
 * layout.less
 *
 * Raster und Anordnungen.
 */

html {
    overflow-y: scroll;
}

#page {
    width: 940px;
    min-height: 250px;
    margin: 25px auto 75px;
    background: url(/img/hintergrund-page.png) no-repeat;
}

.row {
    background: url(/img/hintergrund-row.png);
    margin-left: 170px;
    .drop-shadow();
    .rounded();
    overflow: auto;
    margin-bottom: 1px;
    padding: 30px 30px 15px;
    
    img, iframe {
        width: 100%;
        .rounded();
        border: 1px solid lighten(@grey,10%);
        margin-bottom: 5px;
    }
}


/* =Clearfix by Nicolas Gallagher
-------------------------------------------------------------- */
.cols:before,.cols:after,.clear{content:'';display:table}
.cols:after,.clear{clear:both}
.cols,.clear{zoom:1}


.col_l {
    width: 47.5%;
    float: left;
}
.col_r {
    width: 47.5%;
    float: right;
}