/*
 * master.less
 *
 * Hier laufen alle Styles zusammen.
 */


/* ---------------
 * Variablen.
 * --------------- */
@grey: #696c68;
@brown: #602d29;


/* ---------------
 * Mixins.
 * --------------- */
.text-shadow () {
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0, offy=1);
}
.drop-shadow() {
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.rounded() {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

/* ---------------
 * Imports.
 * --------------- */
@import url(normalize.less);
@import url(typography.less);
@import url(layout.less);
@import url(header.less);
@import url(footer.less);
@import url(teaser.less);
@import url(buttons.less);
@import url(supersized.less);