/*
 * supersized.less
 *
 * Aus dem supersized Ordner kopiert und verändert.
 */


.rb-slide-control {
    display: none;

    a {
        position: fixed;
        height: 50px;
        width: 40px;
        background: red;
        background: url(/img/slide-control-sprite.png) no-repeat;
        
        &#rb-next-slide {
            z-index: 100;
            top: 49%;
            right: 0;
            background-position: -40px 0;
            &:hover {
                background-position: -40px -51px;
            }
        }
        
        &#rb-prev-slide {
            z-index: 110;
            top: 49%;
            left: 0;
            background-position: 0 0;
            &:hover {
                background-position: -0px -51px;
            }
        }
    }
}


/*

	Supersized - Fullscreen Slideshow jQuery Plugin
	Version : Core 3.2.1
	
	Site	: www.buildinternet.com/project/supersized
	Author	: Sam Dunn
	Company : One Mighty Roar (www.onemightyroar.com)
	License : MIT License / GPL License
	
*/

// * { margin:0; padding:0; }
body { background:@grey; height:100%; }
	img { border:none; }
	
	#supersized-loader { position:absolute; top:15px; right:15px; z-index:150; width:60px; height:60px; /* margin:-30px 0 0 -30px;*/ text-indent:-999em; background:url(/img/ajax-loader.gif) no-repeat center center;}
	
	#supersized {  display:block; position:fixed; left:0; top:0; overflow:hidden; z-index:-999; height:100%; width:100%; }
		#supersized img { width:auto; height:auto; position:relative; display:none; outline:none; border:none; }
			#supersized.speed img { -ms-interpolation-mode:nearest-neighbor; image-rendering: -moz-crisp-edges; }	/*Speed*/
			#supersized.quality img { -ms-interpolation-mode:bicubic; image-rendering: optimizeQuality; }			/*Quality*/
		
		#supersized li { display:block; list-style:none; z-index:-30; position:fixed; overflow:hidden; top:0; left:0; width:100%; height:100%; background:#111; }
		#supersized a { width:100%; height:100%; display:block; }
			#supersized li.prevslide { z-index:-20; }
			#supersized li.activeslide { z-index:-10; }
			#supersized li.image-loading { background:#111 url(/img/progress.gif) no-repeat center center; width:100%; height:100%; }
				#supersized li.image-loading img{ visibility:hidden; }
			#supersized li.prevslide img, #supersized li.activeslide img{ display:inline; }