/*
 * teaser.less
 *
 * Boxen auf der Startseite.
 */


.teaser {
    position: absolute;
    z-index: 20;
    display: none;
    
    .inner {
        width: 275px;
        height: 140px;
        background: url(/img/hintergrund-teaser.png) no-repeat top right;
        padding: 35px 35px 0;
        float: right;
    
        & > * {
            margin-bottom: 12px;
        }
    }
}