/*
 * typography.less
 *
 * Alles mit Schriften.
 */


/* ---------------------------
 * Master.
 * --------------------------- */
body {
    font-size: 15px; /* 15px */
    line-height: 20px; /* 21px */
    font-family: 'HelveticaNeueW01-47LtCn 692686', sans-serif;
    color: @grey;
}
p, ul, h4 {
    margin-top: 0;
}


/* ---------------------------
 * Links.
 * --------------------------- */
a, a:visited, a:active, a:focus {
    color: @brown;
    text-decoration: none;
    outline: none;
}
a:hover, a.current {
    text-decoration: underline;
    outline: none;
}


/* ---------------------------
 * Headings.
 * --------------------------- */
h2 {
    color: #fff;
    font-weight: normal;
    font-family:'HelveticaNeueW02-57Cn', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    background: url(/img/hintergrund-h2.png) no-repeat top right;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 20px;
    margin-top: 3px;
    margin-bottom: 1px;
    height: 52px;
    // margin-left: 170px;
    width: 720px;
    float: right;
    .drop-shadow();
    .rounded();
    
    & span {
        .text-shadow();
    }
    
    a.toggle-control {
        display: inline-block;
        width: 25px;
        height: 25px;
        background: url(/img/control-sprite.png);
        background-position: -25px 0;
        float: right;
    }
    
    &.closed {
        span {
            display: none;
        }
        a {
            background-position: 0 0;
        }
    }
}
h3,
.teaser h2 {
    background: none;
    color: @grey;
    height: auto;
    padding: 0;
    margin: 0;
    text-shadow: 0;
    filter: false;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    float: none;
    width: auto;
    font-weight: normal;
    font-family:'HelveticaNeueW02-57Cn', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 15px;
}
h4 {
    font-family:'HelveticaNeueW02-57Cn', sans-serif;
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 10px;
}


/* ---------------------------
 * Listen.
 * --------------------------- */
ul {
    padding-left: 18px;
    margin-left: 0;
    list-style-image: url(/img/bullet.png);
}
.lt-ie9 ul {
    padding-left: 20px;
}


/* ---------------------------
 * Misc.
 * --------------------------- */
::selection,
::-moz-selection {
    background: @brown;
    color: #fff;
}

strong {
    font-weight: normal;
    font-family:'HelveticaNeueW01-67MdCn 692710', sans-serif;
}